#root {
  margin: 0 0 90px 0 ;
  padding: 2rem;
  border-radius: 2px solid black;
  background-color: antiquewhite;
}
body{
  display: flex;
  justify-content: center;
}

.todo{
  margin: 0 0 0 0;
}
.addtask{
  background-color: darkorchid;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  border-radius: 10px;
}
.addtask>button{
  background-color: transparent;
}

.addtask input{
padding: 0 0 5px 5px;
font-size: 30px;
height: 38px;

width: 280px;
border-radius: 10px;
margin: 10px 10px 15px 10px;
}
.lists{
  background-color: darkorchid;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin:10px 10px 10px 10px;
  border-radius: 10px;
}
.addtask svg{
  position: relative;
  top: 8px ;
  margin-left: 0px;
}
svg{
  height: 40px;
  width: 40px;
}
.lists svg{
  position: relative;
  top: -4px ;
  left: -4.5px;
}
.text{
  font-weight: 600;
  font-size: 25px;
  padding: 0px 0 0 0;
  margin :0 ;
  
}
input[type=checkbox] {
  height: 30px;
  width: 30px;
}
      
.textdiv{
  position:relative;
  left: 10px;
  padding: 0 0 0 0;
  margin:0 20px 10px 10px ;
  text-align: start;
}

.lists button{
  position: relative;
  left: 10px;
  margin: 10px 20px 10px 0px;
  padding: 0 0 0 0;
  height: 32px;
  width:32px; 
}

@media (min-width: 370px ) and (max-width:600px) {
  .addtask input{
    width: 190px;
    margin-right: -5px;
  }
  #root {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 100px;
  }
  .addtask{
    margin: 3px;
  }
  .todo{
    padding: 0 0 0 0;
  }
}

